<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <nav class="navbar">
        <div class="navbar-brand">Blog</div>
        <form action="/submit" method="POST">
            <button type="submit" class="add-blog-btn">Add Blog</button>
        </form>
    </nav>


    <form action="update" method="post">
        <div class="main-container">
            <% if (locals.blogs && blogs.length> 0) { %>
                <% blogs.forEach(function(blog,i) { %>  
                    <div class="blog-container">
                        <div class="blog-header">
                            <button type="submit" name="edit" value="<%= i %>" class="edit-btn">Edit</button>
                            <button type="submit" name="delete" value="<%= i %>" class="delete-btn">Delete</button>
                        </div>
                        <div class="blog-content">
                            <p>
                                <%= blog.content %>
                            </p>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <p>ADD Blogs to Page !, No Blog TO see</p>
                            <% } %>
        </div>
    </form>

    <script src="work.js"></script>
</body>

</html>